.CreatePost {
    overflow-y: hidden;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.CreatePost-Title {
    width: 50%;
    border: 1px solid var(--border);

    --border: black;

    &-Red {
        --border: crimson;
    }
}

.CreatePost-Body {
    width: 80%;
    min-height: 35vh;
    border: 1px solid var(--border);

    --border: black;

    &-Red {
        --border: crimson;
    }
}

.CreatePost-Alert {
    z-index: 1;
    width: 30%;
    position:absolute;
    left: 30%;
    transition: display block
}

.CreatePost-Alert {
    display: block;
    z-index: 1;
    width: 20%;
    position:absolute;
    left: 30%;
}