.PushButtonGroup {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    padding: 11px 20px;
    box-shadow: 0 9px #1ea8fdbb;
}

.PushButtonGroup-Off {
    color: white;
    background-color: #1ea7fd;
}

.PushButtonGroup-On {
    background-color: #1ea7fd;
    color: white;
    box-shadow: 0 3px #1ea8fdbb;
    transform: translateY(6px);
}