.Tab {
    position: relative;
    background-color: lightgray;
    height: 100vh;
    overflow: auto;
}

.Tab-Post{
    position: absolute;
    background-color: white;
    padding: 5%;
    width: 80%;
    min-height: 60%;
    left: 5%;
    top: 10%;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
}